<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9uJlQykNMlzmr9wxBCqnYFtwhxYkNfNw</string>
	<key>GCM_SENDER_ID</key>
	<string>774428898846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopapp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-81795</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-81795.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774428898846:ios:57f9135fb865f48f53a00f</string>
</dict>
</plist>